<form action="/memos" method="post">
  <input type="text" placeholder="タイトル" class="form" name="title" required>
  <textarea placeholder="内容" class="form" name="content" required></textarea>
  <input type="submit" class="form" value="保存">
</form>
